<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<script> function verify(){
		var name = document.getElementById("name");
		var number = document.getElementById("number");
		var email = document.getElementById("email");
		var password = document.getElementById("password");
		var repassword = document.getElementById("repassword");
		
		var npat=/[a-z]$/;
		var mpat=/\d{10}$/;
		
		//alert(name.value);
		if(name.value == "" || !name.value.match(npat)){
			alert("Only Enter alphabets here");
			return false;
		}
		//alert(number.value);
		if(number.value == "" || !number.value.match(mpat)){
			alert("Enter valid 10 digit mobile number");
			return false;
		}
		if(email.value == ""){
			alert("Enter a valid email. Can't be blank");
			return false;
		}
		//alert(password.value);
		if(password.value == ""){
			alert("Password Can't be blank");
			return false;
		}
		//alert(repassword.value);
		if(repassword.value == ""){
			alert("Repassword Can't be blank");
			return false;
		}
		//alert(!repassword.value.match(password.value));
		if(!repassword.value.match(password.value)){
			alert("Both password must be same");
			return false;
		}
		
		
	}
	</script>
	
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Welcome</a>

      </div>
      <ul class="nav navbar-nav">
        <li><a href="../index.html">Home</a></li>
      </ul>

    </nav>


    <div class="container">
      <div class="jumbotron">
        <h1>Register here by filling the form</h1>
        <p>Enter your details !</p>
      </div>

    </div>

    <div class="container">

<br/>

<!-- Form Elements -->
<div class="col-lg-12">
  <div class="block">
    <div class="block-body">
      <form class="form-horizontal" ng-submit="postEmployeeData()">
                <div class="form-group row">
                  <div class="col-sm-9">
				  <label class="col-sm-3 form-control-label">Name</label>
				  <input type="text" placeholder="Enter Employee Full Name" ng-model="employee.emp_name" class="form-control" id="name">
				  <label class="col-sm-3 form-control-label">Contact Number</label>
                    <input type="number" placeholder="Contact Number" ng-model="employee.contact" class="form-control" id="number"></br>
					<label class="col-sm-3 form-control-label">Email</label>
                    <input type="email" placeholder="E-mail address" ng-model="employee.email" class="form-control" id="email">
					<label class="col-sm-3 form-control-label">Password</label>
                    <input type="password" placeholder="Password" ng-model="employee.password" class="form-control" id="password"></br>
					<label class="col-sm-3 form-control-label">Retype Password</label>
                    <input type="password" placeholder="Retype Password" class="form-control" id="repassword">
                  </div>
                </div>

        <div class="line"></div>
        <div class="form-group row">
          <div class="col-sm-9 ml-auto">
            <button type="reset" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary" onclick="verify()">Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

  </body>
</html>
